/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running Affymetrix limma + gprofiler2 tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for a minimal Affymetrix limma + gprofiler2 test profile.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile affy_limma_gprofiler2,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/affy/affy_limma_gprofiler2.config'
includeConfig '../../testdata/affy.config'

params {
    // Observations
    observations_id_col   = 'name'
    observations_name_col = 'name'

    // Exploratory
    exploratory_main_variable = 'contrasts'

    // Differential analysis params
    differential_max_pval        = 0.05
    differential_max_qval        = 0.05
    differential_min_fold_change = 1.5
    round_digits                 = 4

    // gprofiler2
    gprofiler2_organism = 'mmusculus'
}
