/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Affymetrix microarray analysis profile (default: Limma)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Sets parameters for Affymetrix array differential abundance analysis using Limma.
    Use as follows:
        nextflow run nf-core/differentialabundance -profile affy,<docker/singularity> --input <SAMPLESHEET> --affy_cel_files_archive <TAR> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    paramset_name                    = 'affy'

    // Study
    study_type                       = 'affy_array'
    study_abundance_type             = 'intensities'

    // Differential analysis (Limma)
    differential_method              = 'limma'

    // Features
    features_id_col                  = 'PROBEID'
    features_metadata_cols           = 'PROBEID,ENSEMBL,SYMBOL,GENETYPE'
    features_name_col                = 'SYMBOL'
    differential_feature_id_column   = 'PROBEID'

    // Exploratory
    exploratory_assay_names          = 'raw,normalised'
    exploratory_final_assay          = 'normalised'
    exploratory_log2_assays          = null

    // Differential output columns
    differential_file_suffix         = '.limma.results.tsv'
    differential_fc_column           = 'logFC'
    differential_pval_column         = 'P.Value'
    differential_qval_column         = 'adj.P.Val'

    // Shiny app
    shinyngs_build_app               = true
}
