/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Affymetrix Limma + g:Profiler2 analysis profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inherits from affy.config and adds g:Profiler2 functional enrichment.
----------------------------------------------------------------------------------------
*/

includeConfig 'affy.config'

params {
    paramset_name     = 'affy_limma_gprofiler2'
    functional_method = 'gprofiler2'
}
