/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Affymetrix Limma + GSEA analysis profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inherits from affy.config and adds GSEA functional enrichment.
----------------------------------------------------------------------------------------
*/

includeConfig 'affy.config'

params {
    paramset_name     = 'affy_limma_gsea'
    functional_method = 'gsea'
}
