/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA-seq Limma + GSEA analysis profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inherits from rnaseq_limma.config and adds GSEA functional enrichment.
----------------------------------------------------------------------------------------
*/

includeConfig 'rnaseq_limma.config'

params {
    paramset_name     = 'rnaseq_limma_gsea'
    functional_method = 'gsea'
}
