/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA-seq analysis profile without GTF annotation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inherits from rnaseq.config (DESeq2). Use when no GTF annotation is available.
----------------------------------------------------------------------------------------
*/

includeConfig 'rnaseq.config'

params {
    paramset_name = 'rnaseq_nogtf'
}
