/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA-seq DESeq2 + g:Profiler2 analysis profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inherits from rnaseq.config (DESeq2) and adds g:Profiler2 functional enrichment.
----------------------------------------------------------------------------------------
*/

includeConfig 'rnaseq.config'

params {
    paramset_name     = 'rnaseq_deseq2_gprofiler2'
    functional_method = 'gprofiler2'
}
