/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running MaxQuant proteomics tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for a minimal MaxQuant proteomics test profile.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile maxquant,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/maxquant/maxquant.config'
includeConfig '../../testdata/maxquant.config'

params {
    // Observations
    observations_id_col   = 'Experiment'
    observations_name_col = 'Name'

    // Exploratory
    exploratory_main_variable = 'Celltype'
    exploratory_n_features    = -1

    // Proteus
    proteus_measurecol_prefix = 'LFQ intensity'
}
