/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA-seq analysis profile (default: DESeq2)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Sets parameters for RNA-seq differential abundance analysis using DESeq2.
    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq,<docker/singularity> --input <SAMPLESHEET> --matrix <MATRIX> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    paramset_name                    = 'rnaseq'

    // Study
    study_type                       = 'rnaseq'
    study_abundance_type             = 'counts'

    // Features
    features_type                    = 'gene'
    features_id_col                  = 'gene_id'
    features_name_col                = 'gene_name'
    features_metadata_cols           = 'gene_id,gene_name,gene_biotype'
    differential_feature_id_column   = 'gene_id'

    // Observations
    observations_id_col              = 'sample'
    observations_name_col            = 'sample'

    // Differential analysis (DESeq2)
    differential_method              = 'deseq2'

    // Exploratory
    exploratory_assay_names          = 'raw,normalised,variance_stabilised'
    exploratory_final_assay          = 'variance_stabilised'
    exploratory_log2_assays          = 'raw,normalised'

    // Differential output columns
    differential_file_suffix         = '.deseq2.results.tsv'
    differential_fc_column           = 'log2FoldChange'
    differential_pval_column         = 'pvalue'
    differential_qval_column         = 'padj'
}
