/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA-seq DESeq2 + GSEA analysis profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inherits from rnaseq.config (DESeq2) and adds GSEA functional enrichment.
----------------------------------------------------------------------------------------
*/

includeConfig 'rnaseq.config'

params {
    paramset_name     = 'rnaseq_deseq2_gsea'
    functional_method = 'gsea'
}
