/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA-seq Limma + Decoupler analysis profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inherits from rnaseq_limma.config and adds Decoupler functional enrichment.
----------------------------------------------------------------------------------------
*/

includeConfig 'rnaseq_limma.config'

params {
    paramset_name     = 'rnaseq_limma_decoupler'
    functional_method = 'decoupler'
}
