/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA-seq Limma analysis profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inherits RNA-seq base settings from rnaseq.config and overrides with Limma-specific
    differential analysis parameters.
----------------------------------------------------------------------------------------
*/

includeConfig 'rnaseq.config'

params {
    paramset_name            = 'rnaseq_limma'

    // Differential analysis (Limma)
    differential_method      = 'limma'
    limma_use_voom           = true

    // Exploratory
    exploratory_assay_names  = 'raw,normalised'
    exploratory_final_assay  = 'normalised'
    exploratory_log2_assays  = 'raw'

    // Differential output columns
    differential_file_suffix = '.limma.results.tsv'
    differential_fc_column   = 'logFC'
    differential_pval_column = 'P.Value'
    differential_qval_column = 'adj.P.Val'
}
