params {
    study_name = 'andrea'

    // Input data
    input = "$projectDir/data/samplesheet.tsv"
    matrix = "$projectDir/data/counts.tsv"
    contrasts = "$projectDir/data/contrasts.csv"
    tools = "$projectDir/assets/tools_samplesheet.csv"

    // Set reporting parameters
    report_title = "full tests"
    report_author = "nf-core elves"
    report_description = "test andrea"

    // run grea & gprofiler
    gene_sets_files = "$projectDir/data/andrea.gmt"
    gsea_run = true
    gprofiler2_run = true

    // set this, otherwise TABULAR_TO_GSEA_CHIP gives errors
    features_name_col = "gene_id"
}
