/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for having default cache parameters for differentialabundance pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This config file enables default caching for all processes in the differentialabundance pipeline.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile cache_default,<docker/singularity> --outdir <OUTDIR>

*/

process {
    withName: '.*' {
        cache = true // Default enable caching. Input file metadata (name, size, last updated timestamp) are included in the cache keys.
    }
}