params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run on CRG cluster'

  max_cpus = 64
  max_memory = 100.GB
  max_time   = 48.h
}


process {
    executor = 'crg'
    //maxRetries = params.max_retries
    //errorStrategy = params.err_start

    withLabel:process_low {
          queue = 'cn-el7,short-centos79'
          cpus   = { check_max( 2                  , 'cpus'    ) }
          memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
          time   = { check_max( 4.h  * task.attempt, 'time'    ) }
       }
    withLabel:process_medium{
          queue = 'cn-el7,short-centos79'
          cpus   = { check_max( 6                  , 'cpus'    ) }
          memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
          time   = { check_max( 8.h  * task.attempt, 'time'    ) }
    }
      withLabel:process_high {
        queue = 'cn-el7,long-centos79'
        cpus   = { check_max( 12                  , 'cpus'    ) }
        memory = { check_max( 56.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 12.h  * task.attempt, 'time'    ) }

    }
}


singularity {
    enabled  = true
    cacheDir = 'singularity_cache'
}