/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running MaxQuant proteomics analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines settings specific to MaxQuant proteomics analysis

    Use as follows:
        nextflow run nf-core/differentialabundance -profile maxquant,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name         = 'MaxQuant profile'
    config_profile_description  = 'Settings for MaxQuant analysis'

    // Study
    study_type              = 'maxquant'
    study_abundance_type    = 'intensities'

    // Features
    features_id_col         = 'Majority protein IDs'
    features_name_col       = 'Majority protein IDs'
    features_metadata_cols  = 'Majority protein IDs'
    features_type           = 'protein'

    // Exploratory
    exploratory_assay_names = "raw,normalised"
    exploratory_final_assay = "normalised"
    exploratory_log2_assays = null

    // Differential options
    differential_file_suffix         = ".limma.results.tsv"
    differential_fc_column           = "logFC"
    differential_pval_column         = "P.Value"
    differential_qval_column         = "adj.P.Val"
    differential_feature_id_column   = "Majority protein IDs"
    differential_feature_name_column = "Majority protein IDs"

    // Proteus options
    proteus_measurecol_prefix = 'LFQ intensity'

    // Shiny does not work for this datatype
    shinyngs_build_app               = false
}
