process {
    withName: "PROPR"{
        ext.args = { "${meta.args_cor}" == "null" ? '' : "${meta.args_cor}" }
        publishDir = [
            path: { "${params.outdir}/correlation_analysis/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: "PROPD"{
        ext.args = { "${meta.args_diff}" == "null" ? '' : "${meta.args_diff}" }
        publishDir = [
            path: { "${params.outdir}/differential_analysis/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "FILTERVAR"{
        ext.args = { "${meta.args_cor}" == "null" ? '' : "${meta.args_cor}" }
        publishDir = [
            path: { "${params.outdir}/variable_selection/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "GREA_DIFF"{
        ext.args = { "${meta.args_enr_diff}" == "null" ? '' : "${meta.args_enr_diff}" }
        publishDir = [
            path: { "${params.outdir}/enrichment_differential/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "GREA_COR"{
        ext.args = { "${meta.args_enr_cor}" == "null" ? '' : "${meta.args_enr_cor}" }
        publishDir = [
            path: { "${params.outdir}/enrichment_correlation/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}