/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: GUNZIP_GTF {
        publishDir = [
            enabled: false
        ]
    }

    withName: GTF_TO_TABLE {
        publishDir = [
            [
                path: { "${params.outdir}/tables/annotation" },
                mode: params.publish_dir_mode,
                pattern: '*.anno.tsv'
            ]
        ]
        ext.args = { "--feature-type '${meta.params.features_gtf_feature_type}' --first-field '${meta.params.features_gtf_table_first_field}'" }
    }

    withName: VALIDATOR {
        publishDir = [
            enabled: false
        ]
        ext.args = { "--sample_id_col '${meta.params.observations_id_col}' --feature_id_col '${meta.params.features_id_col}'" }
    }

    withName: AFFY_JUSTRMA_RAW {
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.matrix.tsv'
            ],
            [
                path: { "${params.outdir}/tables/annotation" },
                mode: params.publish_dir_mode,
                pattern: '*.annotation.tsv'
            ],
            [
                path: { "${params.outdir}/other/affy" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.prefix = { "raw." }
        ext.args = { [
            "--sample_name_col \"" + (meta.params.observations_name_col == null ? meta.params.observations_id_col : meta.params.observations_name_col) + "\"",
            "--file_name_col \"${meta.params.affy_file_name_col}\"",
            "--background ${meta.params.affy_background}",
            "--normalize False",
            "--bgversion ${meta.params.affy_bgversion}",
            "--destructive ${meta.params.affy_destructive}",
            "--rm.mask ${meta.params.affy_rm_mask}",
            "--rm.outliers ${meta.params.affy_rm_outliers}",
            "--rm.extra ${meta.params.affy_rm_extra}",
            "--build_annotation ${meta.params.affy_build_annotation}"
        ].join(' ').trim() }
    }

    withName: AFFY_JUSTRMA_NORM {
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.matrix.tsv'
            ],
        ]
        ext.prefix = { "normalised." }
        ext.args = { [
            "--sample_name_col \"" + (meta.params.observations_name_col == null ? meta.params.observations_id_col : meta.params.observations_name_col) + "\"",
            "--file_name_col \"${meta.params.affy_file_name_col}\"",
            "--background ${meta.params.affy_background}",
            "--normalize True",
            "--bgversion ${meta.params.affy_bgversion}",
            "--destructive ${meta.params.affy_destructive}",
            "--rm.mask ${meta.params.affy_rm_mask}",
            "--rm.outliers ${meta.params.affy_rm_outliers}",
            "--rm.extra ${meta.params.affy_rm_extra}",
            "--build_annotation ${meta.params.affy_build_annotation}"
        ].join(' ').trim() }
    }

    withName: PROTEUS {
        tag = {"${meta.contrast}"}
        ext.prefix = { "${meta.contrast}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/proteus/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ],
            [
                path: { "${params.outdir}/plots/proteus/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ],
            [
                path: { "${params.outdir}/other/proteus/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.rds'

            ],
            [
                path: { "${params.outdir}/other/proteus/" },
                mode: params.publish_dir_mode,
                pattern: '*sessionInfo.log'
            ]
        ]
        ext.args = { [
            "--contrast_variable \"${meta.contrast}\"",
            "--sample_id_col \"${meta.params.observations_id_col}\"",
            "--protein_id_col \"${meta.params.features_id_col}\"",
            "--measure_col_prefix \"${meta.params.proteus_measurecol_prefix}\"",
            "--norm_function $meta.params.proteus_norm_function",
            "--plotsd_method $meta.params.proteus_plotsd_method",
            "--plotmv_loess $meta.params.proteus_plotmv_loess",
            "--palette_name $meta.params.proteus_palette_name",
            ((meta.params.round_digits != null && meta.params.round_digits > 0) ? "--round_digits $meta.params.round_digits" : "")
        ].join(' ').trim() }
    }

    withName: GEOQUERY_GETGEO {
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.matrix.tsv'
            ],
            [
                path: { "${params.outdir}/tables/annotation" },
                mode: params.publish_dir_mode,
                pattern: '*.annotation.tsv'
            ],
            [
                path: { "${params.outdir}/other/affy" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.prefix = { "normalised." }
        ext.args = {
            ((meta.params.features_metadata_cols == null) ? '' : "--metacols \"${meta.params.features_metadata_cols}\"")
        }
    }

    withName: CUSTOM_MATRIXFILTER {
        publishDir = [
            enabled: false
        ]
        ext.args   = {[
            "--sample_id_col \"${meta.params.observations_id_col}\"",
            "--minimum_samples ${meta.params.filtering_min_samples}",
            "--minimum_abundance ${meta.params.filtering_min_abundance}",
            (meta.params.filtering_min_proportion ? "--minimum_proportion ${meta.params.filtering_min_proportion}" : ''),
            (meta.params.filtering_grouping_var ? "--grouping_variable \"${meta.params.filtering_grouping_var}\"" : ''),
            (meta.params.filtering_min_proportion_not_na ? "--minimum_proportion_not_na \"${meta.params.filtering_min_proportion_not_na}\"" : ''),
            (meta.params.filtering_min_samples_not_na ? "--minimum_samples_not_na \"${meta.params.filtering_min_samples_not_na}\"" : '')
        ].join(' ').trim()}
    }

    withName: IMMUNEDECONV {
        publishDir = [
            [
                path: { "${params.outdir}/tables/immunedeconv" },
                mode: params.publish_dir_mode,
                pattern: '*.deconvolution_results.tsv'
            ],
            [
                path: { "${params.outdir}/plots/immunedeconv" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ]
        ]
    }

    // ==================================================================================
    // differential modules
    // ==================================================================================

    withName: DESEQ2_NORM {
        ext.prefix = 'all'
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.{normalised_counts,vst,rlog}.tsv'
            ],
        ]
        ext.args = { [
            "--gene_id_col \"${meta.params.features_id_col}\"",
            "--sample_id_col \"${meta.params.observations_id_col}\"",
            "--test $meta.params.deseq2_test",
            "--fit_type $meta.params.deseq2_fit_type",
            "--sf_type $meta.params.deseq2_sf_type",
            "--min_replicates_for_replace $meta.params.deseq2_min_replicates_for_replace",
            "--use_t $meta.params.deseq2_use_t",
            "--lfc_threshold $meta.params.deseq2_lfc_threshold",
            "--alt_hypothesis $meta.params.deseq2_alt_hypothesis",
            "--independent_filtering $meta.params.deseq2_independent_filtering",
            "--p_adjust_method $meta.params.deseq2_p_adjust_method",
            "--alpha $meta.params.deseq2_alpha",
            "--minmu $meta.params.deseq2_minmu",
            "--vs_method $meta.params.deseq2_vs_method",
            "--vs_blind $meta.params.deseq2_vs_blind",
            "--vst_nsub $meta.params.deseq2_vst_nsub",
            "--shrink_lfc $meta.params.deseq2_shrink_lfc",
            "--cores $meta.params.deseq2_cores",
            ((meta.params.round_digits != null && meta.params.round_digits > 0) ? "--round_digits $meta.params.round_digits" : ""),
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
        ].join(' ').trim() }
    }

    withName: DESEQ2_DIFFERENTIAL {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/differential" },
                mode: params.publish_dir_mode,
                pattern: '*.deseq2.results.tsv'
            ],
            [
                path: { "${params.outdir}/plots/qc" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ],
            [
                path: { "${params.outdir}/other/deseq2" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sizefactors.tsv,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            "--gene_id_col \"${meta.params.features_id_col}\"",
            "--sample_id_col \"${meta.params.observations_id_col}\"",
            "--test $meta.params.deseq2_test",
            "--fit_type $meta.params.deseq2_fit_type",
            "--sizefactors_from_controls $meta.params.sizefactors_from_controls",
            "--sf_type $meta.params.deseq2_sf_type",
            "--min_replicates_for_replace $meta.params.deseq2_min_replicates_for_replace",
            "--use_t $meta.params.deseq2_use_t",
            "--lfc_threshold $meta.params.deseq2_lfc_threshold",
            "--alt_hypothesis $meta.params.deseq2_alt_hypothesis",
            "--independent_filtering $meta.params.deseq2_independent_filtering",
            "--p_adjust_method $meta.params.deseq2_p_adjust_method",
            "--alpha $meta.params.deseq2_alpha",
            "--minmu $meta.params.deseq2_minmu",
            "--vs_method $meta.params.deseq2_vs_method",
            "--vs_blind $meta.params.deseq2_vs_blind",
            "--vst_nsub $meta.params.deseq2_vst_nsub",
            "--shrink_lfc $meta.params.deseq2_shrink_lfc",
            "--cores $meta.params.deseq2_cores",
            "--seed $meta.params.deseq2_seed",
            "--subset_to_contrast_samples $meta.params.differential_subset_to_contrast_samples",
            ((meta.params.round_digits != null && meta.params.round_digits > 0) ? "--round_digits $meta.params.round_digits" : ""),
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking")
        ].join(' ').trim() }
    }

    withName: LIMMA_NORM {
        ext.prefix = 'all'
        publishDir = [
            [
                path: { "${params.outdir}/tables/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.{normalised_counts}.tsv'
            ],
        ]
        ext.when = { meta.params.limma_use_voom }
        ext.args = { [
            "--probe_id_col \"${meta.params.features_id_col}\"",
            "--sample_id_col \"${meta.params.observations_id_col}\"",
            "--ndups \"${meta.params.limma_ndups}\"",
            "--spacing \"${meta.params.limma_spacing}\"",
            "--block \"${meta.params.limma_block}\"",
            "--correlation ${meta.params.limma_correlation}",
            "--method \"${meta.params.limma_method}\"",
            "--proportion ${meta.params.limma_proportion}",
            "--stdev.coef.lim \"${meta.params.limma_stdev_coef_lim}\"",
            "--trend ${meta.params.limma_trend}",
            "--robust ${meta.params.limma_robust}",
            "--winsor.tail.p \"${meta.params.limma_winsor_tail_p}\"",
            "--p.value ${meta.params.limma_p_value}",
            "--lfc ${meta.params.limma_lfc}",
            "--confint ${meta.params.limma_confint}",
            "--use_voom \"${meta.params.limma_use_voom}\"",
            ((meta.params.round_digits != null && meta.params.round_digits > 0) ? "--round_digits $meta.params.round_digits" : ""),
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
        ].join(' ').trim() }
    }

    withName: LIMMA_DIFFERENTIAL {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/differential" },
                mode: params.publish_dir_mode,
                pattern: '*.limma.results.tsv'
            ],
            [
                path: { "${params.outdir}/plots/qc" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ],
            [
                path: { "${params.outdir}/other/limma" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            "--probe_id_col \"${meta.params.features_id_col}\"",
            "--sample_id_col \"${meta.params.observations_id_col}\"",
            "--ndups \"${meta.params.limma_ndups}\"",
            "--spacing \"${meta.params.limma_spacing}\"",
            "--block \"${meta.params.limma_block}\"",
            "--correlation ${meta.params.limma_correlation}",
            "--method \"${meta.params.limma_method}\"",
            "--proportion ${meta.params.limma_proportion}",
            "--stdev.coef.lim \"${meta.params.limma_stdev_coef_lim}\"",
            "--trend ${meta.params.limma_trend}",
            "--robust ${meta.params.limma_robust}",
            "--winsor.tail.p \"${meta.params.limma_winsor_tail_p}\"",
            "--p.value ${meta.params.limma_p_value}",
            "--lfc ${meta.params.limma_lfc}",
            "--confint ${meta.params.limma_confint}",
            "--subset_to_contrast_samples $meta.params.differential_subset_to_contrast_samples",
            "--use_voom \"${meta.params.limma_use_voom}\"",
            ((meta.params.round_digits != null && meta.params.round_digits > 0) ? "--round_digits $meta.params.round_digits" : ""),
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking")
        ].join(' ').trim() }
    }

    withName: VARIANCEPARTITION_DREAM {
        publishDir = [
            [
                path: { "${params.outdir}/tables/differential" },
                mode: params.publish_dir_mode,
                pattern: '*.dream.results.tsv'
            ]
        ]
    }

    withName: CUSTOM_FILTERDIFFERENTIALTABLE {
        ext.prefix = { "${input_file.toString().split("\\.").init().join(".")}" }
        publishDir = [
            [
                path: { "${params.outdir}/tables/differential" },
                mode: params.publish_dir_mode,
                pattern: '*_filtered.tsv'
            ]
        ]
    }

    // ==================================================================================
    // functional enrichment modules
    // ==================================================================================

    withName: GSEA_GSEA {
        ext.prefix = { "${meta.id}.${gene_sets.baseName}." }

        publishDir = [
            [
                path: { "${params.outdir}/report/gsea/${meta.id}/${gene_sets.baseName}" },
                mode: params.publish_dir_mode,
                pattern: '*.{html,zip,png,tsv,rpt}'
            ]
        ]
        ext.args = { [
            "-nperm $meta.params.gsea_nperm",
            "-permute $meta.params.gsea_permute",
            "-scoring_scheme $meta.params.gsea_scoring_scheme",
            "-metric $meta.params.gsea_metric",
            "-sort $meta.params.gsea_sort",
            "-order $meta.params.gsea_order",
            "-set_max $meta.params.gsea_set_max",
            "-set_min $meta.params.gsea_set_min",
            "-norm $meta.params.gsea_norm",
            "-rnd_type $meta.params.gsea_rnd_type",
            "-make_sets $meta.params.gsea_make_sets",
            "-median $meta.params.gsea_median",
            "-num $meta.params.gsea_num",
            "-plot_top_x $meta.params.gsea_plot_top_x",
            "-rnd_seed $meta.params.gsea_rnd_seed",
            "-save_rnd_lists $meta.params.gsea_save_rnd_lists",
            "-zip_report $meta.params.gsea_zip_report"
        ].join(' ').trim() }
    }

    withName: 'CUSTOM_TABULARTOGSEACLS' {
        publishDir = [
            enabled: false
        ]
        ext.args = { [ "separator": "\t", "variable": "$meta.variable" ] }
    }

    withName: 'CUSTOM_TABULARTOGSEAGCT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'CUSTOM_TABULARTOGSEACHIP' {
        publishDir = [
            enabled: false
        ]
    }

    withName: GPROFILER2_GOST {
        publishDir = [
            [
                path: { "${params.outdir}/tables/gprofiler2/${meta.id}/" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ],
            [
                path: { "${params.outdir}/plots/gprofiler2/${meta.id}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{png,html}'
            ],
            [
                path: { "${params.outdir}/other/gprofiler2/${meta.id}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,gmt}'
            ],
            [
                path: { "${params.outdir}/other/gprofiler2/" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            "--significant \"${meta.params.gprofiler2_significant}\"",
            "--measure_underrepresentation \"${meta.params.gprofiler2_measure_underrepresentation}\"",
            "--correction_method \"${meta.params.gprofiler2_correction_method}\"",
            "--evcodes \"${meta.params.gprofiler2_evcodes}\"",
            "--pval_threshold \"${meta.params.gprofiler2_max_qval}\"",
            "--domain_scope ${meta.params.gprofiler2_domain_scope}",
            "--min_diff \"${meta.params.gprofiler2_min_diff}\"",
            "--palette_name \"${meta.params.gprofiler2_palette_name}\"",
            ((meta.params.round_digits != null && meta.params.round_digits > 0) ? "--round_digits $meta.params.round_digits" : ""),
            ((meta.params.differential_feature_id_column == null) ? '' : "--de_id_column \"${meta.params.differential_feature_id_column}\""),
            ((meta.params.gprofiler2_token == null) ? '' : "--token \"${meta.params.gprofiler2_token}\""),
            ((meta.params.gprofiler2_organism == null) ? '' : "--organism \"${meta.params.gprofiler2_organism}\""),
            ((meta.params.gprofiler2_background_column == null) ? '' : "--background_column \"${meta.params.gprofiler2_background_column}\""),
            ((meta.params.gprofiler2_sources == null) ? '' : "--sources \"${meta.params.gprofiler2_sources}\"")
        ].join(' ').trim() }
    }

    withName: DECOUPLER_DECOUPLER {
        ext.prefix = {
            def method = meta.params.differential_method ?: meta.differential_method ?: "unknown"
            def prefix = "${method}_${meta.id}"
            return prefix
        }
        ext.args = {
            def features_id = meta.params?.features_id_col ?: 'gene_id'
            def features_symbol = meta.params?.features_name_col ?: 'gene_name'
            def min_n = meta.params?.decoupler_min_n ?: 5
            def methods = meta.params?.decoupler_methods ?: 'mlm'

            "--min_n ${min_n} --transpose TRUE --ensembl_ids TRUE --methods ${methods} --features_id_col ${features_id} --features_symbol_col ${features_symbol} --column ${params.differential_fc_column}"
        }
        publishDir = [
            [
                path: { "${params.outdir}/tables/decoupler" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ],
            [
                path: { "${params.outdir}/plots/decoupler" },
                mode: params.publish_dir_mode,
                pattern: '*_estimate_decoupler_plot.png'
            ]
        ]
    }

    // ==================================================================================
    // plotting and reports
    // ==================================================================================

    withName: PLOT_EXPLORATORY {
        publishDir = [
            path: { "${params.outdir}/plots/exploratory" },
            mode: params.publish_dir_mode,
        ]
        memory = { 12.GB * task.attempt }
        ext.args = { [
            "--sample_id_col \"${meta.params.observations_id_col}\"",
            "--feature_id_col \"${meta.params.features_id_col}\"",
            "--assay_names \"${meta.params.exploratory_assay_names}\"",
            "--final_assay \"${meta.params.exploratory_final_assay}\"",
            "--outlier_mad_threshold ${meta.params.exploratory_mad_threshold}",
            "--palette_name \"${meta.params.exploratory_palette_name}\"",
            ( (meta.params.study_type == 'maxquant') ? "--log2_assays ''" : (((meta.params.exploratory_log2_assays == null) ? '' : "--log2_assays \"$meta.params.exploratory_log2_assays\"".replace('[', '').replace(']', ''))) )
        ].join(' ').trim() }
    }

    withName: PLOT_DIFFERENTIAL {
        publishDir = [
            path: { "${params.outdir}/plots/differential" },
            mode: params.publish_dir_mode,
        ]
        memory = { 12.GB * task.attempt }
        ext.args = { [
            "--feature_id_col \"${meta.params.features_id_col}\"",
            "--reference_level \"$meta.params.reference\"",
            "--treatment_level \"$meta.params.target\"",
            "--fold_change_col \"${meta.params.differential_fc_column}\"",
            "--p_value_column \"${meta.params.differential_qval_column}\"",
            "--diff_feature_id_col \"${meta.params.differential_feature_id_column}\"",
            "--fold_change_threshold \"${meta.params.differential_min_fold_change}\"",
            "--p_value_threshold \"${meta.params.differential_max_qval}\"",
            "--unlog_foldchanges \"${meta.params.differential_foldchanges_logged}\"",
            "--palette_name \"${meta.params.differential_palette_name}\""
        ].join(' ').trim() }
    }

    withName: SHINYNGS_APP {
        secret = (params.shinyngs_deploy_to_shinyapps_io) ? [ 'SHINYAPPS_TOKEN', 'SHINYAPPS_SECRET' ]: null

        publishDir = [
            path: { "${params.outdir}/shinyngs_app" },
            mode: params.publish_dir_mode,
        ]
        memory = { 12.GB * task.attempt }
        ext.args = { [
            "--assay_names \"${meta.params.exploratory_assay_names}\"",
            "--sample_id_col \"${meta.params.observations_id_col}\"",
            "--feature_id_col \"${meta.params.features_id_col}\"",
            "--feature_name_col \"" + (meta.params.features_name_col == null ? meta.params.features_id_col : meta.params.features_name_col) + "\"",
            "--diff_feature_id_col \"${meta.params.differential_feature_id_column}\"",
            "--fold_change_column \"${meta.params.differential_fc_column}\"",
            "--pval_column \"${meta.params.differential_pval_column}\"",
            "--qval_column \"${meta.params.differential_qval_column}\"",
            "--unlog_foldchanges \"${meta.params.differential_foldchanges_logged}\"",
            ((meta.params.report_title == null) ? '' : "--title \"$meta.params.report_title\""),
            ((meta.params.report_author == null) ? '' : "--author \"$meta.params.report_author\""),
            ((meta.params.report_description == null) ? '' : "--description \"$meta.params.report_description\""),
            ( (meta.params.study_type == 'maxquant') ? "--log2_assays ''" : (((meta.params.exploratory_log2_assays == null) ? '' : "--log2_assays \"$meta.params.exploratory_log2_assays\"".replace('[', '').replace(']', ''))) ),
            ((meta.params.shinyngs_deploy_to_shinyapps_io) ? "--deploy_app" : ''),
            ((meta.params.shinyngs_shinyapps_account == null) ? '' : "--shinyapps_account \"$meta.params.shinyngs_shinyapps_account\""),
            ((meta.params.shinyngs_shinyapps_app_name == null) ? '' : "--shinyapps_name \"$meta.params.shinyngs_shinyapps_app_name\"")
        ].join(' ').trim() }
    }

    withName: RMARKDOWNNOTEBOOK {
        ext.meta_params = false
        conda = "bioconda::r-shinyngs=1.8.8"
        container = { "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://depot.galaxyproject.org/singularity/r-shinyngs:1.8.8--r43hdfd78af_0' : 'biocontainers/r-shinyngs:1.8.8--r43hdfd78af_0' }" }
        publishDir = [
            [
                path: { "${params.outdir}/report" },
                mode: params.publish_dir_mode,
                pattern: '*.html'
            ]
        ]
        memory = { 12.GB * task.attempt }
    }

    withName: MAKE_REPORT_BUNDLE {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            pattern: '*.zip'
        ]
    }
}
