profiles {
    /*
    docker {
        docker.enabled         = true
        docker.runOptions      = '-u 0'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    */
    lifesciences {
        process.executor = "google-lifesciences"
        google.project = "ngdx-nextflow"
        google.lifeSciences.bootDiskSize = "50.GB"
        google.lifeSciences.preemptible = false
        google.lifeSciences.keepAliveOnFailure = true
    }
    googlebatch {
        process.executor = "google-batch"
        google.project = "ngdx-nextflow"
        google.batch.bootDiskSize = "10.GB"
        google.location = "europe-west1"
    }
    workbench {
        google.zone = "europe-west2-b"
        google.location = "europe-west2"
    }
    biocluster {
        process.executor = "slurm"
    } 
    wave {
        wave.enabled = true
        wave.strategy = ['container','dockerfile']
    }
    standard {
        resume = true
    }
    test_kraken {
        includeConfig 'test_kraken.config'
    }
}

params {
    observations_id_col = "Original_Sample_Name"
    observations_type = "Original_Sample_Name"
    observations_name_col = "Original_Sample_Name"
    gsea_run = true
    gsea_gene_sets = "gs://ngdx-runs/references/gsea/msigdb.v2023.1.Hs.symbols.gmt"
    gtf = "https://ftp.ensembl.org/pub/release-81/gtf/homo_sapiens/Homo_sapiens.GRCh38.81.gtf.gz"
    report_author = "bioinfo@negedia.com"
}

