// Defaults of the config params. An including pipeline includes this file for the params that
// the pipeline and its process config read, since it does not load nextflow.config.
params {

    // Input options
    input                      = null

    study_name                 = 'study'
    study_type                 = 'rnaseq'
    study_abundance_type       = 'abundance'
    contrasts                  = null
    querygse                   = null
    matrix                     = null
    feature_length_matrix      = null
    control_features           = null
    sizefactors_from_controls  = false

    // Output options
    outdir                     = null
    round_digits               = -1
    seed                       = null

    // Paramsheet options
    paramset_name              = null
    paramsheet                 = null

    // Sample sheet options
    observations_type          = 'sample'
    observations_id_col        = 'sample'
    observations_name_col      = null

    // Feature options
    features                    = null
    features_type               = 'gene'
    features_id_col             = 'gene_id'
    features_name_col           = 'gene_name'
    features_metadata_cols      = 'gene_id,gene_name,gene_biotype'

    // GTF parsing options
    gtf                             = null
    features_gtf_feature_type	    = 'transcript'
    features_gtf_table_first_field  = 'gene_id'

    // Affy-specific options
    affy_cel_files_archive   = null
    affy_file_name_col       = 'file'
    affy_background          = true
    affy_bgversion           = 2
    affy_destructive         = false
    affy_cdfname             = null
    affy_rm_mask             = false
    affy_rm_outliers         = false
    affy_rm_extra            = false
    affy_build_annotation    = true

    // Proteus-specific options
    proteus_measurecol_prefix = 'LFQ intensity'
    proteus_norm_function     = 'normalizeMedian'
    proteus_plotsd_method     = 'violin'
    proteus_plotmv_loess      =  true
    proteus_palette_name      = 'Set1'

    // Filtering options
    filtering_min_samples           = 1.0
    filtering_min_abundance         = 1
    filtering_min_proportion        = null
    filtering_grouping_var          = null
    filtering_min_proportion_not_na = 0.5
    filtering_min_samples_not_na    = null

    // Exploratory options
    exploratory_main_variable      = 'auto_pca'
    exploratory_clustering_method  = "ward.D2"
    exploratory_cor_method         = "spearman"
    exploratory_n_features         = 500
    exploratory_whisker_distance   = 1.5
    exploratory_mad_threshold      = -5
    exploratory_assay_names        = "raw,normalised,variance_stabilised"
    exploratory_final_assay        = "variance_stabilised"
    exploratory_log2_assays        = 'raw,normalised'
    exploratory_palette_name       = 'Set1'

    // Differential options
    differential_method                     = 'deseq2'  // 'deseq2', 'limma', 'dream', 'propd'
    differential_file_suffix                = null
    differential_feature_id_column          = "gene_id"
    differential_min_fold_change            = 2.0
    differential_max_pval                   = 1.0
    differential_max_qval                   = 0.05
    differential_palette_name               = 'Set1'
    differential_subset_to_contrast_samples = false

    // DESeq2-specific options
    deseq2_test                       = "Wald"
    deseq2_fit_type                   = "parametric"
    deseq2_sf_type                    = 'ratio'
    deseq2_min_replicates_for_replace = 7
    deseq2_use_t                      = false
    deseq2_lfc_threshold              = 0
    deseq2_alt_hypothesis             = 'greaterAbs'
    deseq2_independent_filtering      = true
    deseq2_p_adjust_method            = 'BH'
    deseq2_alpha                      = 0.1
    deseq2_minmu                      = 0.5
    deseq2_vs_method                  = 'vst' // 'rlog', 'vst', or 'rlog,vst'
    deseq2_shrink_lfc                 = true
    deseq2_vs_blind                   = true
    deseq2_vst_nsub                   = 1000

    // Limma-specific options
    limma_ndups             = null
    limma_spacing           = null
    limma_block             = null
    limma_correlation       = null
    limma_method            = 'ls'
    limma_proportion        = 0.01
    limma_stdev_coef_lim    = '0.1,4'
    limma_trend             = false
    limma_robust            = false
    limma_winsor_tail_p     = '0.05,0.1'
    limma_adjust_method     = "BH"
    limma_p_value           = 1.0
    limma_lfc               = 0
    limma_confint           = false
    limma_use_voom          = false

    // DREAM-specific options
    dream_adjust_method     = "BH"
    dream_p_value           = 1
    dream_lfc               = 0
    dream_confint           = false
    dream_proportion        = 0.01
    dream_stdev_coef_lim    = '0.1,4'
    dream_trend             = false
    dream_robust            = false
    dream_winsor_tail_p     = '0.05,0.1'
    dream_ddf               = 'adaptive'
    dream_reml              = false
    dream_apply_voom        = false

    // propd-specific options
    propd_alpha             = null
    propd_moderated         = true
    propd_fdr               = 0.05
    propd_permutation       = 0
    propd_number_of_cutoffs = 100
    propd_save_pairwise     = false
    propd_save_pairwise_full = false
    propd_save_adjacency    = false
    propd_save_rdata        = false

    // functional analysis options
    functional_method           = 'none'  // 'none', 'gsea', 'gprofiler2', 'decoupler', 'grea'
    gene_sets_files             = null

    // GSEA options
    gsea_nperm                  = 1000
    gsea_permute                = 'phenotype'
    gsea_scoring_scheme         = 'weighted'
    gsea_metric                 = 'Signal2Noise'
    gsea_sort                   = 'real'
    gsea_order                  = 'descending'
    gsea_set_max                = 500
    gsea_set_min                = 15

    gsea_norm                   = 'meandiv'
    gsea_rnd_type               = 'no_balance'
    gsea_make_sets              = true
    gsea_median                 = false
    gsea_num                    = 100
    gsea_plot_top_x             = 20
    gsea_save_rnd_lists         = false
    gsea_zip_report             = false

    // gprofiler2 options
    gprofiler2_organism                     = null
    gprofiler2_significant                  = true
    gprofiler2_measure_underrepresentation  = false
    gprofiler2_correction_method            = 'gSCS'
    gprofiler2_sources                      = null
    gprofiler2_evcodes                      = false
    gprofiler2_max_qval                     = 0.05
    gprofiler2_token                        = null
    gprofiler2_background_file              = 'auto'
    gprofiler2_background_column            = null
    gprofiler2_domain_scope                 = 'annotated'
    gprofiler2_min_diff                     = 1
    gprofiler2_palette_name                 = 'Blues'

    // decoupler options
    decoupler_network               = null
    decoupler_min_n                 = 5
    decoupler_methods               = 'ulm'

    // grea options
    grea_set_min                    = 15
    grea_set_max                    = 500
    grea_permutation                = 100

    // ShinyNGS
    shinyngs_build_app              = true

    // Report options
    skip_reports                    = false

    // Note: for shinyapps deployment, in addition to setting these values,
    // SHINYAPPS_TOKEN and SHINYAPPS_SECRET must be available to the
    // environment, probably via Nextflow secrets
    shinyngs_deploy_to_shinyapps_io = false
    shinyngs_shinyapps_account      = null
    shinyngs_shinyapps_app_name     = null

    // Reporting
    logo_file               = "$projectDir/docs/images/nf-core-differentialabundance_logo_light.png"
    css_file                = "$projectDir/assets/nf-core_style.css"
    citations_file          = "$projectDir/CITATIONS.md"
    report_file             = "$projectDir/assets/differentialabundance_report.qmd"
    report_title            = null
    report_author           = null
    report_contributors     = null
    report_description      = null
    disable_report_modules  = null

    // References
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false

    // Boilerplate options
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}
