// Defaults of the config params, which only affect configuration. An including pipeline includes this
// file, since it does not load nextflow.config.
params {

    // References
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false

    // Boilerplate options
    publish_dir_mode             = 'copy'
    monochrome_logs              = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}
