/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines settings specific to RNA-seq analysis

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'RNA-seq profile'
    config_profile_description = 'Settings for RNA-seq analysis'

    // Study
    study_type = 'rnaseq'
    study_abundance_type = 'counts'

    // Features
    features_id_col = 'gene_id'
    features_name_col = 'gene_name'
    features_metadata_cols = 'gene_id,gene_name,gene_biotype'

    // Exploratory
    exploratory_assay_names = "raw,normalised,variance_stabilised"
    exploratory_final_assay = "variance_stabilised"
    exploratory_log2_assays = 'raw,normalised'

    // Differential options
    differential_file_suffix         = ".deseq2.results.tsv"
    differential_fc_column           = "log2FoldChange"
    differential_pval_column         = "pvalue"
    differential_qval_column         = "padj"
    differential_feature_id_column   = "gene_id"
    differential_feature_name_column = "gene_name"
}
