/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines settings specific to RNA-seq analysis

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq_limma,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'RNA-seq profile with limma'
    config_profile_description = 'Settings for RNA-seq analysis with limma'

    // Study
    study_type = 'rnaseq'
    study_abundance_type = 'counts'

    // Observations
    observations_id_col        = 'sampleId'
    observations_name_col      = 'sampleId'

    // Differential options
    differential_use_limma           = true
    differential_file_suffix         = ".limma.results.tsv"
    differential_fc_column           = "logFC"
    differential_pval_column         = "P.Value"
    differential_qval_column         = "adj.P.Val"
    differential_feature_id_column   = "Geneid"
    differential_feature_name_column = "Geneid"
    limma_use_voom                   = true

}
