/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines settings specific to RNA-seq analysis

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'RNA-seq profile'
    config_profile_description = 'Settings for RNA-seq analysis'

    // Study
    study_type = 'rnaseq'
    study_abundance_type = 'counts'

    // Features
    features_id_col = 'gene_id'
    features_name_col = 'gene_name'
    features_metadata_cols = 'gene_id,gene_name,gene_biotype'

    // Exploratory
    exploratory_assay_names = "raw"
    exploratory_final_assay = "raw"
    exploratory_log2_assays = null

    // Differential options
    differential_file_suffix         = ".propd.genewise.tsv"
    differential_fc_column           = "lfc"
    differential_pval_column         = "connectivity"  // TODO: fix this
    differential_qval_column         = "weighted_connectivity"
    differential_min_fold_change     = 2
    differential_max_pval            = 100
    differential_max_qval            = 100
    differential_feature_id_column   = "gene_id"
    differential_feature_name_column = "gene_name"
}
