/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running SOFT array file analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines settings specific to array analysis with SOFT files from GEO

    Use as follows:
        nextflow run nf-core/differentialabundance -profile soft,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'SOFT matrix track test profile'
    config_profile_description = 'Minimal settings for test of the SOFT matrix track'

    // Study
    study_type = 'geo_soft_file'
    study_abundance_type = 'intensities'

    // Observations
    observations_id_col = 'id'
    observations_name_col = 'id'


    // Features
    features_id_col = 'ID'
    features_metadata_cols = 'ID,ENTREZ_GENE_ID,Gene Symbol,Sequence Type'
    features_name_col = 'Gene Symbol'


    // Exploratory
    exploratory_assay_names = 'normalised'
    exploratory_final_assay = 'normalised'
    exploratory_log2_assays = null

    // Differential options
    differential_file_suffix         = ".limma.results.tsv"
    differential_fc_column           = "logFC"
    differential_pval_column         = "P.Value"
    differential_qval_column         = "adj.P.Val"
    differential_feature_id_column   = "ID"
    differential_feature_name_column = "Symbol"

}

