/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data

    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/blob/differentialabundance/testdata/rnaseq_featurecounts_sample_preparations.tsv'
    matrix = 'https://raw.githubusercontent.com/nf-core/test-datasets/blob/differentialabundance/testdata/rnaseq_featurecounts_merged_gene_counts.txt'
    contrasts = 'https://raw.githubusercontent.com/nf-core/test-datasets/blob/differentialabundance/testdata/rnaseq_featurecounts_contrast_file.csv'
    gtf = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M24/gencode.vM24.annotation.gtf.gz'

    // Activate GSEA
    gsea_run = false
    gsea_gene_sets = 'https://data.broadinstitute.org/gsea-msigdb/msigdb/release/2022.1.Mm/mh.all.v2022.1.Mm.symbols.gmt'
}
