/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/rnaseq_featurecounts_sample_preparations.tsv'
    matrix                     = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/rnaseq_featurecounts_merged_gene_counts.txt'
    contrasts                  = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/rnaseq_featurecounts_contrast_file.csv'
    counts_type                = 'rnaseq_featurecounts'
    report_file                = null
    gene_id_col                = 'Geneid'
    sample_id_col              = 'Secondary.Name'
    vs_method                  = 'rlog'
    gtf                        = 's3://ngi-igenomes/igenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf'

    // Output options
    outdir = 'results'
}

process {

    withName: 'NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:IMPORTRNASEQCOUNTS' {
        ext.args = {"--gene_id_col ${params.gene_id_col}  --sample_id_col ${params.sample_id_col}"}
    }

    withName: 'NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:VALIDATOR' {
        ext.args = {"--feature_id_col gene_id --sample_id_col sample"}
    }

    withName: 'NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:DESEQ2_DIFFERENTIAL' {
        ext.args = {"--vs_method ${meta.vs_method} --gene_id_col gene_id --sample_id_col sample --contrast_variable ${meta.variable} --reference_level ${meta.reference} --treatment_level ${meta.target} --blocking_variables ${meta.blocking}"}
    }

    withName: 'NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:PLOT_DIFFERENTIAL' {
        publishDir = [
            path: { "${params.outdir}/${params.study_name}/plots/differential" },
            mode: params.publish_dir_mode,
        ]
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        ext.args = { "--reference_level $meta.reference --treatment_level $meta.target --feature_id_col gene_id" }
    }

    withName: 'NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:PLOT_EXPLORATORY' {
        publishDir = [
            path: { "${params.outdir}/${params.study_name}/plots/exploratory" },
            mode: params.publish_dir_mode,
        ]
        memory = { check_max( 80.GB * task.attempt, 'memory'  ) }
        ext.args = { "--assay_names raw,normalised,variance_stabilised --final_assay variance_stabilised --feature_id_col gene_id --sample_id_col sample" }

    }
}
