/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple
    pipeline test with Affymetrix arrays.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile test_affy,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig 'affy.config'

params {
    study_name                 = 'GSE50790'
    config_profile_name        = 'Affy array test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/GSE50790.csv'
    contrasts = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/GSE50790_contrasts.csv'
    affy_cel_files_archive = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/GSE50790_RAW.tar'

    // Observations
    observations_id_col = 'name'
    observations_name_col = 'name'

    // Exploratory
    exploratory_main_variable      = 'contrasts'

    // Differential
    differential_max_pval            = 0.05
    differential_max_qval            = 0.05
    differential_min_fold_change     = 1.5

    // Activate GSEA
    gsea_run = true
    gene_sets_files = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/h.all.v2022.1.Hs.symbols.gmt'
}
