/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests without a GTF
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple
    pipeline test of the CoDA experimental mode.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile test_nogtf,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    study_name = 'SRP254919'
    study_type = 'experimental'
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/mus_musculus/rnaseq_expression/SRP254919.samplesheet.csv'
    matrix =  'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/mus_musculus/rnaseq_expression/SRP254919.salmon.merged.gene_counts.top1000cov.tsv'
    contrasts =  'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/mus_musculus/rnaseq_expression/SRP254919.contrasts.csv'

    // analysis
    pathway = "propd,propd_grea,propd_ora,propr,cor"

    //Features
    features_metadata_cols      = 'gene_id,gene_name'
    features_id_col             = 'gene_id'

    // Observations
    observations_id_col         = 'sample'
    observations_name_col       = 'sample'

    // Apply a higher filter to check that the filtering works
    filtering_min_abundance     = 10

    // Exploratory
    exploratory_main_variable   = 'contrasts'

    // deseq2 params/input
    deseq2_vst_nsub = 500 // Test dataset is too small for the nsub default value. otherwise it gives error related to vst nsub
    transcript_length_matrix = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/mus_musculus/rnaseq_expression/SRP254919.spoofed_lengths.tsv'  // TODO this should not be DESEQ2 specific, but data processing specific

    // gene sets
    // gene_sets_files = "${projectDir}/gprofiler_full_mmusculus.ENSG.gmt"
}
