/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Affy array test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = 'https://raw.githubusercontent.com/pinin4fjords/test-datasets/differentialabundance_affy/testdata/GSE50790.csv'
    contrasts = 'https://raw.githubusercontent.com/pinin4fjords/test-datasets/differentialabundance_affy/testdata/GSE50790_contrasts.csv'
    affy_cel_files_archive = 'https://raw.githubusercontent.com/pinin4fjords/test-datasets/differentialabundance_affy/testdata/GSE50790_RAW.tar'

    // Exploratory
    exploratory_main_variable      = 'contrasts'

    // Differential
    differential_max_pval            = 0.05
    differential_max_qval            = 0.05
    differential_min_fold_change     = 1.5
    differential_feature_name_column = "SYMBOL"
    affy_bgversion = 1

    // Activate GSEA
    gsea_run = true
    gsea_gene_sets = 'https://raw.githubusercontent.com/pinin4fjords/test-datasets/differentialabundance_affy/testdata/h.all.v2022.1.Hs.symbols.gmt'
}
