/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq limma + GSEA tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for a minimal RNA-seq limma + GSEA test profile.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq_limma_gsea,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/rnaseq/rnaseq_limma_gsea.config'
includeConfig '../../testdata/rnaseq.config'

params {
    // Exploratory
    exploratory_main_variable = 'contrasts'

    // Apply a higher filter to check that the filtering works
    filtering_min_abundance = 10

    // GSEA
    seed = 10

    // Report options
    report_contributors = 'Jane Doe\nDirector of Institute of Microbiology\nUniversity of Smallville;John Smith\nPhD student\nInstitute of Microbiology\nUniversity of Smallville'

    // Other
    round_digits = 3
}
