/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq DESeq2 + gprofiler2 formula tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for RNA-seq DESeq2 + gprofiler2 test with complex formula.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq_deseq2_gprofiler2_complex,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/rnaseq/rnaseq_deseq2_gprofiler2.config'
includeConfig '../../testdata/rnaseq_complex.config'

params {
    // Override to use gprofiler2 instead of GSEA
    functional_method = 'gprofiler2'

    // DESeq2 overrides for complex data
    exploratory_log2_assays = 'raw'
    deseq2_seed             = 1
    deseq2_vs_method        = 'rlog'
    deseq2_shrink_lfc       = false

    // gprofiler2
    gprofiler2_organism = 'mmusculus'

    // Skip immunedeconv - the formula test dataset has duplicate gene names
    // which are incompatible with immunedeconv's row name requirement
    immunedeconv_run = false

    // Other
    round_digits = 2
    skip_reports = true
}
