/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq DESeq2 + gprofiler2 formula tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for RNA-seq DESeq2 + gprofiler2 test with complex formula.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq_deseq2_gprofiler2_complex,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/rnaseq/rnaseq_deseq2_gprofiler2.config'
includeConfig '../../testdata/rnaseq_complex.config'

params {

    // DESeq2 overrides for complex data
    deseq2_vst_nsub   = 500
    seed              = 1
    deseq2_vs_method  = 'rlog'
    deseq2_shrink_lfc = false

    // gprofiler2
    gprofiler2_organism = 'mmusculus'

    // Apply a higher filter to check that the filtering works
    filtering_min_abundance = 10

    // Exploratory
    exploratory_log2_assays = 'raw'
    exploratory_main_variable = 'contrasts'

    // Report options
    report_contributors = 'Jane Doe\nDirector of Institute of Microbiology\nUniversity of Smallville;John Smith\nPhD student\nInstitute of Microbiology\nUniversity of Smallville'

    // Other
    round_digits = 2
    skip_reports = true
}
