includeConfig '../../profile/rnaseq/rnaseq_limma_gprofiler2.config'
includeConfig '../../testdata/rnaseq.config'

params {
    // Apply a higher filter to check that the filtering works
    filtering_min_abundance = 10

    // gprofiler2
    gprofiler2_organism = 'mmusculus'

    // Report options
    report_contributors = 'Jane Doe\nDirector of Institute of Microbiology\nUniversity of Smallville;John Smith\nPhD student\nInstitute of Microbiology\nUniversity of Smallville'

    // Other
    round_digits = 3
}
