/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq dream + decoupler tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for a RNA-seq dream + decoupler test profile with complex formula.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq_dream_decoupler_complex,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/rnaseq/rnaseq_dream_decoupler.config'
includeConfig '../../testdata/rnaseq_complex.config'

params {
    // Apply a higher filter to check that the filtering works
    filtering_min_abundance = 10

    // Decoupler
    decoupler_min_n = 1

    // Report options
    report_contributors = 'Jane Doe\nDirector of Institute of Microbiology\nUniversity of Smallville;John Smith\nPhD student\nInstitute of Microbiology\nUniversity of Smallville'

    // Other
    round_digits = 3
}
