/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq limma + GSEA complex tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for a RNA-seq limma + GSEA test profile with complex formula.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq_limma_gsea_complex,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/rnaseq/rnaseq_limma_gsea.config'
includeConfig '../../testdata/rnaseq_complex.config'

params {
    // Exploratory
    exploratory_main_variable = 'contrasts'
    exploratory_log2_assays   = 'raw'

    // Apply a higher filter to check that the filtering works
    filtering_min_abundance = 10

    // GSEA
    gsea_rnd_seed = '10'

    // Report options
    report_contributors     = 'Jane Doe\nDirector of Institute of Microbiology\nUniversity of Smallville;John Smith\nPhD student\nInstitute of Microbiology\nUniversity of Smallville'
    report_grouping_variable = 'treatment'

    // Other
    round_digits = 3
}
