/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq DESeq2 + GSEA tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for a minimal RNA-seq DESeq2 + GSEA test profile.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq_deseq2_gsea,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/rnaseq/rnaseq_deseq2_gsea.config'
includeConfig '../../testdata/rnaseq.config'

params {
    // Exploratory
    exploratory_main_variable = 'contrasts'

    // Test dataset is too small for the nsub default value
    deseq2_vst_nsub = 500

    // Apply a higher filter to check that the filtering works
    filtering_min_abundance = 10

    // GSEA
    gsea_rnd_seed = '10'

    // Report options
    report_contributors = 'Jane Doe\nDirector of Institute of Microbiology\nUniversity of Smallville;John Smith\nPhD student\nInstitute of Microbiology\nUniversity of Smallville'

    // Other
    round_digits = 3
}
