/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq no-GTF tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for a minimal RNA-seq test without a GTF.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq_nogtf,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/rnaseq/rnaseq.config'
includeConfig '../../testdata/rnaseq.config'

params {
    gtf                   = null
    gene_sets_files       = null
    decoupler_network     = null
    feature_length_matrix = null

    // Exploratory
    exploratory_main_variable = 'contrasts'

    // Test dataset is too small for the nsub default value
    deseq2_vst_nsub = 500

    // Apply a higher filter to check that the filtering works
    filtering_min_abundance = 10
}
