/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running RNA-seq dream tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and overrides for a RNA-seq + dream test profile with complex formula.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile rnaseq_dream_complex,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig '../../profile/rnaseq/rnaseq_dream.config'
includeConfig '../../testdata/rnaseq_complex.config'

params {
    // Exploratory
    exploratory_main_variable = 'contrasts'

    // Apply a higher filter to check that the filtering works
    filtering_min_abundance = 10

    // Report options
    report_contributors = 'Jane Doe\nDirector of Institute of Microbiology\nUniversity of Smallville;John Smith\nPhD student\nInstitute of Microbiology\nUniversity of Smallville'

    // Other
    round_digits = 2
    seed         = 10
}
