/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MaxQuant proteomics analysis profile (default: Limma)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Sets parameters for MaxQuant proteomics differential abundance analysis using Limma.
    Use as follows:
        nextflow run nf-core/differentialabundance -profile maxquant,<docker/singularity> --input <SAMPLESHEET> --matrix <MATRIX> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    paramset_name                    = 'maxquant'

    // Study
    study_type                       = 'maxquant'
    study_abundance_type             = 'intensities'

    // Differential analysis (Limma)
    differential_method              = 'limma'

    // Features
    features_id_col                  = 'Majority protein IDs'
    features_name_col                = 'Majority protein IDs'
    features_metadata_cols           = 'Majority protein IDs'
    features_type                    = 'protein'
    differential_feature_id_column   = 'Majority protein IDs'

    // Exploratory
    exploratory_assay_names          = 'raw,normalised'
    exploratory_final_assay          = 'normalised'
    exploratory_log2_assays          = null

    // Differential output columns
    differential_file_suffix         = '.limma.results.tsv'
    differential_fc_column           = 'logFC'
    differential_pval_column         = 'P.Value'
    differential_qval_column         = 'adj.P.Val'

    // Proteus
    proteus_measurecol_prefix        = 'LFQ intensity'

    // Shiny app
    shinyngs_build_app               = false
}
