/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RNA-seq analysis profile (default: limma)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Sets parameters for a generic abundance matrix that is already on the appropriate scale (e.g. log-transformed)
    to be analyzed with a linear model.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile generic_matrix,<docker/singularity> --input <SAMPLESHEET> --matrix <MATRIX> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    paramset_name = 'generic_matrix'

    // Study
    study_type = 'generic_matrix'
    study_abundance_type = 'abundance'

    // Features
    features_type = 'feature'
    features_id_col = 'feature_id'
    features_name_col = 'feature_id'
    features_metadata_cols = 'feature_id'
    differential_feature_id_column = 'feature_id'

    // Observations
    observations_id_col = 'sample'
    observations_name_col = 'sample'

    // Differential analysis (limma)
    differential_method = 'limma'
    limma_use_voom = false

    // Exploratory
    exploratory_assay_names = 'raw'
    exploratory_final_assay = 'raw'
    exploratory_log2_assays = null

    // Differential output columns
    differential_file_suffix = '.limma.results.tsv'
    differential_fc_column = 'logFC'
    differential_pval_column = 'P.Value'
    differential_qval_column = 'adj.P.Val'
}
